body{
margin:0;
font-family:'Segoe UI';
overflow:hidden;
background:#0f2027;
color:white;
}

#map{
height:100vh;
width:100%;
}

.header{
position:absolute;
top:10px;
left:50%;
transform:translateX(-50%);
background:rgba(0,0,0,0.6);
padding:10px 20px;
border-radius:10px;
display:flex;
gap:10px;
z-index:1000;
}

.panel{
position:absolute;
bottom:20px;
left:50%;
transform:translateX(-50%);
width:90%;
max-width:400px;
background:rgba(0,0,0,0.6);
padding:15px;
border-radius:15px;
z-index:1000;
}

.row{
display:flex;
gap:10px;
margin-bottom:10px;
}

input, button{
flex:1;
padding:10px;
border:none;
border-radius:8px;
}

button{
background:#0072ff;
color:white;
}

.alert{
position:absolute;
top:80px;
left:50%;
transform:translateX(-50%);
background:red;
padding:10px 20px;
border-radius:10px;
display:none;
z-index:2000;
}